<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/nav-footer.css">
    <link rel="stylesheet" href="../css/Carrito.css">
    <title>Maracaibo Phone</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav_contenedor_Todo">   
                <ul class="nav_ul">
                    <div class="Contenedor_Logo">
                        <li class="Logo" id="logo">Logo</li>                
                    </div>
                    <div class="Buscador">
                        <li class="C_B" id="search" ><input type="search"></li>
                    </div>
                    <div class="nav_links">
                        <li class="Contenedor_li"> <a href="./Login.html" class="nav_li">Iniciar sesion o registrarse</a> </li>
                        <li class="Contenedor_li"> <a href="../../index.html" class="nav_li">Inicio</a></li>
                        <li class="Contenedor_li"><a href="./Carrito.html" class="nav_li">Carrito</a></li>
                        <li class="Contenedor_li"><a href="./Ayuda-info.html" class="nav_li">Ayuda</a></li> 
                        <li class="Contenedor_li"> <a class="nav_li">Cerrar sesion</a> </li>                        
                    </div>
                </ul>
            </div>
        </nav>
    </header> 
    
    <main>  
        <h2 class="Titulo-Factura">Factura</h2>      
        <div class="Factura">            
            <div class="Productos">
                <div class="Num">
                    1
                </div>
                <div class="Name">
                        <div><p><b>Nombre:</b></p></div>
                        <div><p>Infinix Hot 11 Play </p></div>
                                    
                </div>
                <div class="Marca">
                    <div><p><b>Marca:</b></p></div>
                    <div><p>Infinix</p></div>
                </div>
                <div class="Color">
                    <div>
                        <p><b>Color:</b></p>
                    </div>
                    <div>
                        <p>Negro</p>
                    </div>
                </div>
                <div class="Serial">
                    <div>
                        <p><b>Serial:</b></p>
                    </div>
                    <div>
                        <p>#5F78Qp</p>
                    </div>
                </div>
                <div class="Precio">
                    <div>
                        <p><b>Precio:</b></p>
                    </div>
                    <div>
                        <p>$ 135,00</p>
                    </div>
                </div>

                <div class="Total">
                    <div>
                        <p><b>Total:</b></p>
                    </div>
                    <div>
                        <p><b>$ 135,00</b></p>
                    </div>                    
                </div>

                <div class="btn-Cancelar">
                    <button class="btn-Cancelar-d">Cancelar Producto</button>
                </div>
            </div>

            <div class="Productos">
                <div class="Num">
                    2
                </div>
                <div class="Name">
                        <div><p><b>Nombre:</b></p></div>
                        <div><p>Infinix Note 12 </p></div>
                                    
                </div>
                <div class="Marca">
                    <div><p><b>Marca:</b></p></div>
                    <div><p>Infinix</p></div>
                </div>
                <div class="Color">
                    <div>
                        <p><b>Color:</b></p>
                    </div>
                    <div>
                        <p>Blanco</p>
                    </div>
                </div>
                <div class="Serial">
                    <div>
                        <p><b>Serial:</b></p>
                    </div>
                    <div>
                        <p>#7F78ep</p>
                    </div>
                </div>
                <div class="Precio">
                    <div>
                        <p><b>Precio:</b></p>
                    </div>
                    <div>
                        <p>$ 200,00</p>
                    </div>
                </div>

                <div class="Total">
                    <div>
                        <p><b>Total:</b></p>
                    </div>
                    <div>
                        <p><b>$ 335,00</b></p>
                    </div>                    
                </div>
                <div class="btn-Cancelar">
                    <button class="btn-Cancelar-d">Cancelar Producto</button>
                </div>
            </div>
        </div>

        <div class="Pago">
            <div class="Date-Cliente">
                <h4>Datos del Cliente</h4>
               <div class="NombreCL">
                <div><p><b>Nombre: </b></p></div>
                <div><p>Antony</p></div>
               </div>

               <div class="ApellidoCL">
                <div><p><b>Apellido:</b></p></div>
                <div><p>Benitez</p></div>
               </div>

               <div class="DireccionCL">
                <div><p><b>Dirección:</b></p></div>
                <div><p>El Soler</p></div>
               </div>

               <div class="NumeroCL">
                <div>
                    <p><b>Teléfono:</b></p>
                </div>
                <div>
                    <p>0429-2584-459</p>
                </div>
               </div>

            </div>

            <div class="Dia-Entrega">

                <div class="D-Salida">
                    <div><p><b>Dia de salida del producto:</b></p></div>
                    <div><p>14/10/2022</p></div>
                </div>

                <div class="D-Llegada">
                    <div><p><b>Dia de llegada del producto: </b></p></div>
                    <div><p>24/10/2022</p></div>
                </div>

            </div>

            <div class="Op-Pago">
                    <form action="">
                        <div class="Tarjeta">
                            <h4>Número de tarjeta</h4>
                            <input type="text" placeholder="Introduzca el número de tarjeta de Crédito">
                        </div>
                       <div class="Titu-Tarjeta">
                            <h4>Titular de la tarjeta</h4>
                            <input type="text" placeholder="Introduzca el Nombre del titular">
                       </div>
                    </form>                
            </div>

            <div class="btn-Pedido">

                <div class="btn-Cancelar-Pedido">
                    <button class="Cancelar-Pedido">Cancelar Pedido</button>
                </div>

                <div class="btn-Comfirmar-Pedido">
                    <button class="Comfirmar-Pedido">Comfirmar Pedido</button>
                </div>

            </div>
        </div>


        <div class="Lis-Productos">
            <h2 class="Titulo-Lis-Pro">Lista de Compra</h2>

            <div class="img-Productos">
                <figure>
                    <img class="img" src="../img/Infinix-Hot-11-Play.png" alt="Infinix-Hot-11-Play">
                </figure>

                <p class="Nombre-Lis">Infinix Hot 11 Play</p>
            </div>

            <div class="img-Productos">
                <figure>
                    <img class="img" src="../img/Infinix-Note-12.png" alt="Infinix-Hot-11-Play">
                </figure>

                <p  class="Nombre-Lis">Infinix Hot 11 Play</p>
            </div>
        </div>

       
    </main>



    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefonos</h4>
                <p>04146680987</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>antonymanuelbenitez@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>Maracaibo</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Maracaibo Phone@2022</h2>
    </footer>
</body>
</html>