/* Inicio pasar de px a rem */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 16px;
    background-color: #E7D3AF;
}

:root{
    --Primario: #1D2E43;
    --Segundario: #46A2FD;
    --Letras1: #FFFFFF;
    --busacar: #22e6bf;
}

/* Main */
main{
    position: relative;
    padding: 4rem 1rem 1rem 1rem;
    margin: 4rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-around;
    *gap: 1rem;
}

/*Fin 

Contenedor Articulos
*/

.Articulos{
    width: 100%;
    height: auto;
    background-color: var(--Primario);
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin: 0.5rem 1rem 0.5rem 1.5rem;
    color: var(--Letras1);
    border-style: solid none solid solid;
    border-color: var(--Segundario);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;  
    border-width: 0.5rem;  
  }

    .Articulos-Contenido{
        width: 100%;
        position: relative;
        display: grid;
        justify-content: center;
        color: var(--Letras1);
        margin-top: 1rem;
        gap: 1rem;
    }

    li{
        list-style: none;
    }

    .Articulos-Contenido a{
        color: var(--Letras1) ;
    }

  /*Fin 
  
  Contenido
  */
.Contenido{
    width: 100%;
    min-height: 40rem;
    background-color: var(--Primario);
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    color: var(--Letras1);
    border-style: solid;
    border-color: var(--Segundario);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-width: 0.5rem;  
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
}

.Contenedor-Phone{
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: var(--Segundario);
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.Contenedor-Phone > figure{
    display: grid;
    width: 30rem;
}

.img{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Caracteristicas{
    opacity: 0;
    display: none;
}

.Contenedor-Phone:hover > .Caracteristicas{
    opacity: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.btn-Comprar{
    border: none;
    border-radius: 2rem;
    background-color: var(--Primario);
    color: var(--Letras1);
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}