/* Inicio pasar de px a rem */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 16px;
    background-color: #E7D3AF;
}

:root{
    --Primario: #1D2E43;
    --Segundario: #46A2FD;
    --Letras1: #FFFFFF;
    --buscar: #22e6bf;
    --Cancelar: #C63637;
}

/* Main */
main{
    width: 95%;
    *padding: 4rem 1rem 1rem 1rem;
    margin: 8rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 100%;
    place-content: space-around;
    *gap: 1rem;
    *left: 3.2rem;
    background-color: var(--Primario);
    border: 0.6rem solid var(--Segundario);
    border-radius: 2rem;
    place-content: center;
    place-items: center;    
    position: relative;
    left: 1%;
    color: var(--Letras1);
}

/*Fin

*/

.Factura{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   width: 98%;   
   margin: 1rem;
   padding: 1rem;
   border: 0.5rem solid var(--Segundario);
   border-radius: 2rem;

}
/*Fin

Titulo-Factura
*/
.Titulo-Factura{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    place-content: center;
    place-items: center;
}

/*Fin
Productos
*/
.Productos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1.5fr);   
    *border-style: solid solid none solid;
    *border-color: var(--Segundario);
    *border-top-left-radius: 2rem;
    *border-top-right-radius: 2rem;  
   *border-width: 0.5rem;  
    *gap: 1rem;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

/*
Fin

Nombre , .Marca, .Color, .Serial, .Precio, .Total
*/

.Name, .Marca, .Color, .Serial, .Precio, .Total{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    *gap: 0.5rem;
    font-size: 1.4rem;
    place-content: center;
    place-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}


/*Fin


Num*/

.Num, .btn-Cancelar{
    width: 100%;
    display: grid;
    gap: 0.5rem;
    font-size: 1.3rem;
    place-content: center;
    place-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

/*Fin 

btn-Cancelar*/

.btn-Cancelar{
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    padding: 1rem;
    margin: 1rem;
    border: none;
}

.btn-Cancelar-d{
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    color: var(--Letras1);
    font-size: 1.5rem;    
    background-color: var(--Segundario);
    border-radius: 2rem;
    border: 0.1rem solid var(--Segundario);    
    cursor: pointer;
}

.btn-Cancelar-d:active{
    background-color: var(--Cancelar);
    border: 0.1rem solid var(--Cancelar);
}

/*
Fin

Pago
*/

.Pago{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 98%;   
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
    gap: 1rem;
}

/*Fin

Date-Cliente
*/

.Date-Cliente{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;   
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
}

/*Fin 

NombreCL, ApellidoCL, DireccionCL, NumeroCL
*/

.NombreCL, .ApellidoCL, .DireccionCL, .NumeroCL{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;   
    margin: 1rem;
    padding: 1rem;
}

/*Fin

Dia-Entrega
*/

.Dia-Entrega{
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;   
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
}

/*Fin 

D-Salida
*/

.D-Salida, .D-Llegada{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 120%;   
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: 10%;
}

/*Fin

Op-Pago
*/

.Op-Pago{
    display: grid;
    place-content: center;
    place-items: center;
    width: 95%;   
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
}

/*Fin 
Tarjeta, Titu-Tarjeta
*/

.Tarjeta, .Titu-Tarjeta{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 120%;   
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: -17%;
}
/*Fin

btn-Pedido
*/

.btn-Pedido{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-content: flex-end;
    place-items: flex-end;
    width: 100%;   
    margin: 1rem;
    padding: 1rem;
    grid-column: 1/4;
}

/*Fin 

btn-Cancelar-Pedido, btn-Comfirmar-Pedido
*/

.btn-Cancelar-Pedido, .btn-Comfirmar-Pedido{
    width: 20%;   
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
    background-color: var(--Segundario);
}

/*Fin

Cancelar-Pedido, Comfirmar-Pedido
*/
.Cancelar-Pedido, .Comfirmar-Pedido{
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    border: none;
    background-color: var(--Segundario);
    color: var(--Letras1);
    cursor: pointer;
}

.btn-Cancelar-Pedido:active, .Cancelar-Pedido:active{
    background-color: var(--Cancelar);
    border-color: var(--Cancelar);
}

/*Fin
Comfirmar-Pedido
*/

.btn-Comfirmar-Pedido:active, .Comfirmar-Pedido:active{
    background-color: var(--buscar);
    border-color: var(--buscar);
}

/*Fin

Lis-Productos
*/

.Lis-Productos{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;   
    margin: 1rem;
    padding: 1rem;
    position: relative;
    border: 0.5rem solid var(--Segundario);
    border-radius: 2rem;
}

.Titulo-Lis-Pro{
    display: grid;
    gap: 1rem;
    place-content: center;
    place-items: center;
    width: 100%;   
    margin: 1rem;
    padding: 1rem;
    grid-column: 1/5;
    *font-size: 2rem;
}

/*Fin

img-Productos*/

.img-Productos{
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;
}

/*
Fin 
img
*/

.img{
    display: grid;
    place-content: center;
    place-items: center;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
}

/*Fin

Nombre-Lis*/

.Nombre-Lis{
    display: grid;
    place-content: center;
    place-items: center;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: -16%;
}