/* Inicio pasar de px a rem */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root{
    --Primario: #1D2E43;
    --Segundario: #46A2FD;
    --Letras1: #FFFFFF;
    --buscar: #22e6bf;
}

/*Fin

Main
*/

main{
    position: relative;
    *padding: 4rem 1rem 1rem 1rem;
    margin: 8rem 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 20% 80%;
    place-content: space-around;
    *gap: 1rem;
    left: -2.5rem;
}

/*Fin 

Contenedor Articulos
*/

.Articulos{
    width: 100%;
    height: auto;
    background-color: var(--Primario);
    *padding: 0.5rem 1rem 0.5rem 1.5rem;
    margin: 1rem 2rem 1rem 3rem;
    color: var(--Letras1);
    border-style: solid none solid solid;
    border-color: var(--Segundario);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;  
    border-width: 0.5rem;  
  }

    .Articulos-Contenido{
        width: 100%;
        position: relative;
        display: grid;
        justify-content: center;
        color: var(--Letras1);
        margin-top: 2rem;
        gap: 1rem;
    }

    li{
        list-style: none;
    }

    .Articulos-Contenido a{
        color: var(--Letras1) ;
    }

  /*Fin 
  
  Contenido
  */

  .Contenido{
    width: 100%;
    min-height: 40rem;
    background-color: var(--Primario);
    *padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    color: var(--Letras1);
    border-style: solid;
    border-color: var(--Segundario);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-width: 0.5rem;  
    display: grid;
    *grid-template-columns: 20% 20% 20% 20%;
    grid-template-columns: repeat(2, 1fr);
    *column-gap: 8.5rem;
    place-content:space-evenly;
    position: relative;
}
/*Fin

img-Phone*/

.img-Phone{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    margin: 1rem;
    padding: 1rem;
}

.img{
    width: 100%;
}

/*Fin

Dates*/

.Dates{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    *place-content: center;
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;
    place-items: center;
}

/*Fin 

Caracteristicas*/

.Caracteristicas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    place-items: center;
}

/*Fin

Titulo-H3*/

.Titulo-H3{
    width: 100%;
    display: grid;
    place-items: start;
    place-content: center;
    font-size: 2rem;
    position: relative;
    top: -50%;
}

/*Fin

Descripcion*/

.Descripcion{
    width: 100%;
    font-size: 1.5rem;
    place-content: center;
    display: grid;
    grid-column: 1/1;
    position: relative;
    top: -90%;
}

/*Fin

Date*/

.Date{
    width: 100%;
    font-size: 1.5rem;
    place-content: center;
    display: grid;
    grid-column: 2/2;
    position: relative;
    top: -90%;
}

/*Fin

Color-Phone*/

.Color-Phone, .Cantidad-Phone{
    width: 80%;
    position: relative;
    top: -90%;
    border: none;
    background-color: var(--Segundario);
    color: var(--Letras1);
    border-radius: 2rem;
    text-align: center;
    font-size: 1.9rem;
    margin: 1rem;
    padding: 1rem;
}

/*Fin

Boton*/

.btn-Añadir{
    border: none;
    border-radius: 2rem;
    background-color: var(--Segundario);
    color: var(--Letras1);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.9rem;
    cursor: pointer;
    position: relative;
    top: 40%;
    left: 50%;
}

.btn-Añadir:active{
    background-color: var(--buscar);
    color: var(--Primario);
}