/* Inicio pasar de px a rem */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 65.5%;
}

body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Comienzo barra de Navegación */

/* Configuración de la barra*/
.nav_contenedor_Todo{
    position: fixed;
    width: 100%;
    background-color: #1D2E43;
    height: 8rem;
    color: #FFFFFF;
    z-index: 20;
    top: 0;
}

/* Configuración de los ul */
.nav_ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;   
}

/* Posición de los links */
.nav_links{
    display: flex;
    position: relative;
    top: -0.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    
}

/* Orden de los li */
.nav_li{
    color: #FFFFFF;
    top: -2rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

.Contenedor_li{
    margin: auto;
    padding: auto;
}


/* Logo */

.Contenedor_Logo{
    width: 10%;
    height: 100%;
}

.Logo{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

#search, #logo{
    align-self: flex-start;
}

/* Configuración del tamaño del buscador*/
.Buscador{
    width: 40%;
}

.C_B{
    color: #FFFFFF;
    top: -2rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
}


.C_B input{
    width: 100%;
    height: 3.5rem;
    padding: 1rem;
    margin-top: -1rem;    
}

/* Efectos de los hover */

.nav_li:hover{
    border-radius: 2rem;
    background-color: #46A2FD;
}

.C_B:hover{
    background-color: rgb(84, 79, 79, 0.1);
}

/* Fin barra de Navegación */

/* footer */

footer{
    *display: block;
    background: #1D2E43;
    padding: 6rem 0 2rem 0;
    *margin: auto;
    *overflow: hidden;
    margin-top: auto;
    width: 100%;
}

p{
    position: relative;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 5rem;
    border-bottom: 1rem solid #46A2FD;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #46A2FD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #FFFFFF;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #FFFFFF;
}

@media screen and (max-width:500px){   
    /* Footer inicio*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        border-bottom: 1px solid #46A2FD;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }

    /* Footer final */
}