<link rel="stylesheet" href="/recursos/css/nav-footer.css">


<header>
        <nav>
            <div class="nav_contenedor_Todo">   
                <ul class="nav_ul">
                    <div class="Contenedor_Logo">
                        <li class="Logo" id="logo">Logo</li>                
                    </div>
                    <div class="Buscador">
                        <li class="C_B" id="search" ><input type="search"></li>
                    </div>
                    <div class="nav_links">
                        <li class="Contenedor_li"> <a href="../Login" class="nav_li">Iniciar sesion o registrarse</a> </li>
                        <li class="Contenedor_li"> <a href="../Inicio" class="nav_li">Inicio</a></li>
                        <li class="Contenedor_li"><a href="./src/views/Carrito.html" class="nav_li">Carrito</a></li>
                        <li class="Contenedor_li"><a href="../Ayuda/Ayuda" class="nav_li">Ayuda</a></li>                        
                    </div>
                </ul>
            </div>
        </nav>
    </header> 