<link rel="stylesheet" href="/recursos/css/nav-footer.css">

<footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefonos</h4>
                <p>04146680987</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>antonymanuelbenitez@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>Maracaibo</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Maracaibo Phone@2022</h2>
    </footer>