*{
    text-decoration: none;
    font-family: sans-serif;
}

html{
    font-size: 65.5%;
}
body{
    font-size: 13px;
}

body{
    *background-image: url(/Accesos/image/Fondo3.jpg);
    *background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/* Dirección Texarea */

#Direccion{
    resize: none;
    max-width: 40rem;
    min-width: 15rem;
    max-height: 40rem;
    min-height: 10rem;
    margin: 2rem;
    padding: 2rem;
}

/* Radio Sexo */

.Registro input[type="radio"]{
    display: none;
}

.Registro .radio label{
    color: #4647FD ;
    padding: 0.5rem 1.5rem 0.5rem 5.1rem;
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.Registro .radio label:hover{
    background: rgba(0,116,217,0.2);
}

.Registro .radio label:before{
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    display: inline-block;
    background: none;
    border: 0.3rem solid #4647FD;
    border-radius: 50%;
    position: absolute;
    left: 1.7rem;
    top: 0.4rem;
}

.Registro input[type="radio"]:checked + label{
    padding: 0.5rem 1.5rem;
    background: #4647FD;
    border-radius: 0.2rem;
    color: #fff;
}

.Registro input[type="radio"]:checked + label:before{
  display: none;
}

.Contenedor-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46FDFC ;
}

.Registro{
    background-color: #46A2FD;
}
