  <link rel="stylesheet" href="/recursos/css/Login.css">
 

 <div class="contenedor__todo">
<div class="caja__trasera">
    <div class="caja__trasera-login">
        <h3>¿Ya tienes una cuenta?</h3>
        <p>Inicia sesión para entrar en la página y ver nuestros productos disponibles</p>
        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
    </div>
    <div class="caja__trasera-register">
        <h3>¿Aún no tienes una cuenta?</h3>
        <p>Regístrate para que puedas iniciar sesión y poder consultar nuestros productos</p>
        <a href="./Registro" id="btn__registrarse">Regístrarse</a>
    </div>
</div>

<!--Formulario de Login y registro-->
<div class="contenedor__login-register">
    <!--Login-->
    <form action="/Login" method="POST" class="formulario__login">
        <h2>Iniciar Sesión</h2>
        <input type="email" name="Email_U"  placeholder="Correo Electronico" required autofocus>
        <input type="password" name="password_U" placeholder="Contraseña" required>
        <button type="submit" class="Entrar">Entrar</button>
    </form>

    <!--Register-->
    
</div>
</div>